.content { margin-top: 70px; }
.content .container{width:90%;padding-left:105px;}
.no-margin-bottom{margin-bottom:0px !important;}


.articlecontent h1{font-size:30px !important;}
.articlecontent h2{font-size:27px !important;}
.articlecontent h3{font-size:24px !important;}
.articlecontent h4{font-size:21px !important;}
.articlecontent h5{font-size:18px !important;}
.articlecontent h6{font-size:15px !important;font-weight:bold;}
.articlecontent ul li {list-style-type: disc !important;}
.articlecontent ul {margin-left:30px;}





