.content { margin-top: 70px; min-height:600px; }
.content .container{width:90%;padding-left:105px;}

@media only screen and (max-width: 992px){
    .brand-logo{left:50px !important;transform:none !important;-webkit-transform: none !important;}
    .content .container{padding-left:0px!important;}
}

.no-margin-bottom{margin-bottom:0px !important;}


.articlecontent h1{font-size:30px !important;}
.articlecontent h2{font-size:27px !important;}
.articlecontent h3{font-size:24px !important;}
.articlecontent h4{font-size:21px !important;}
.articlecontent h5{font-size:18px !important;}
.articlecontent h6{font-size:15px !important;font-weight:bold;}
.articlecontent ul li {list-style-type: disc !important;}
.articlecontent ul {margin-left:30px;}
.forceActive {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-14px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}





